@model SAB.Models.PrestamoActivo
@{
    ViewBag.Title = "PrestamoActivo";
}


<div class="panel panel-default">

    <div class="panel-heading"><h1 style="text-align:center">Prestamo de Activos</h1></div>

    <div class="panel-body">
        <div id="alert_placeholder"></div>
        <form id="registro" role="form" method="post" action="/Bien/Registrar">

            <table class="table table-striped" align="center">

                <tr>

                    <td> Empleado</td>
                    <td>
                        @Html.DropDownListFor(b => b.Empleado.IdEmpleado, (IEnumerable<SelectListItem>)ViewBag.Empleados,
                        string.Empty,
                                 new
                                 {
                                     @class = "form-control",
                                     @data_validation = "required",
                                     @data_validation_error_msg = "Debe seleccionar un empleado "
                                 })
                    </td>


                    <td>Serial</td>
                    <td>
                        @Html.TextBoxFor(b => b.NumeroSerial, new { @class = "form-control numero", @data_validation = "required", @data_validation_error_msg = "Debe digitar un numero serial ", @maxlength = "8", @placeholder = "Numero de serie" })
                    </td>


                </tr>
                <tr>

                    

                    <td>Descripción</td>
                    <td>@Html.TextAreaFor(b => b.Descripcion, new { @class = "form-control ", @data_validation = "required", @data_validation_error_msg = "Debe digitar la descripcion del bien ", @maxlength = "100", @placeholder = "Descripción", @rows = "5" })




                </tr>

                <tr>
                    <td>Persona a cargo</td>
                    <td colspan="3">
                        @Html.DropDownListFor(b => b.PersonaCargo.IdEmpleado, (IEnumerable<SelectListItem>)ViewBag.Empleados,
                        string.Empty,
                                 new
                                 {
                                     @class = "form-control",
                                     @data_validation = "required",
                                     @data_validation_error_msg = "Debe seleccionar un empleado "
                                 })
                   </tr>

                <tr>

                    <td>Fecha de prestamo</td>

                    <td>
                        <div class="input-group date fecha">

                            @Html.TextBoxFor(b => b.FechaPrestamo, new { @class = "form-control datepicker ", @data_validation = "required", @data_validation_error_msg = "Debe ingresar la fecha en la que ingresa el bien", @placeholder = "Fecha de compra", })

                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-th"></i>
                            </span>
                        </div>
                    </td>



                    <td>Fecha de finalización </td>

                    <td>

                        <div class="input-group date fecha">
                            @Html.TextBoxFor(b => b.FechaFinalPrestamo, new { @class = "form-control datepicker ", @data_validation = "required", @data_validation_error_msg = "Debe ingresar la fecha en la que ingresa el bien", @placeholder = "Fecha de ingreso", })

                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-th"></i>
                            </span>
                        </div>
                    </td>




                </tr>




                <tr>
                    <td align="right" colspan="4">
                        <input type="submit" value="Registrar" class="btn-primary" /> &nbsp; &nbsp; &nbsp;

                        <input type="button" value="Eliminar" class="btn-primary" /> &nbsp; &nbsp;  &nbsp;

                        <input type="button" value="Imprimir" class="btn-primary" /> &nbsp; &nbsp;  &nbsp;
                    </td>

                </tr>


            </table>



            <h2 style="text-align:center"></h2>
            <p> A continuacion se presenta el registro de bienes:</p>
            <table class="table table-bordered">


                <thead>
                    <tr>
                        <td align="center"><b>Bien </b></td>
                        <td align="center"><b> Serial</b></td>
                        
                        <td align="center"><b>Persona a cargo</b></td>

                    </tr>
                </thead>
                <tbody>
                    <tr>


                        <td>Vehiculo</td>
                        <td>MMH935</td>
                       
                        <td>William Ortiz</td>

                    </tr>

                    <tr>



                        <td>Computador</td>
                        <td>Q086</td>
                        
                        <td>Kelly Pacheco</td>


                    </tr>


                    <tr>

                        <td>Moto</td>
                        <td>KIA96B</td>
                      
                        <td>Juan Cortes</td>

                    </tr>

                </tbody>

            </table>


            <div id="confirmacionAlmacenamientoPrestamoActivo" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Registro prestamo activo</h4>
                        </div>
                        <div class="modal-body">
                            <p>El activo se registro exitosamente.   </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>


        </form>
    </div>
</div>

<script>
    var spanishLanguage = {
        errorTitle: 'Hay datos incorrectos en el formulario'
    }

    $.validate({
        validateOnBlur: false, // disable validation when input looses focus
        errorMessagePosition: 'top', // Instead of 'inline' which is default
        scrollToTopOnError: false, // Set this property to true on longer forms
        language: spanishLanguage
    });

    $('.fecha').datepicker({
        language: "es",
        autoclose: true,
        format: "dd/mm/yyyy",
        todayHighlight: true
    });

    $('.numero').keyup(function () {
        this.value = this.value.replace(/[^0-9\.]/g, '');
    });

    $('#paciente').submit(function (event) {
              event.preventDefault();
        var formData = new FormData(this);
        $.ajax({
            type: "POST",
            url: '@Url.Action("CrearAJAX", "PrestamoActivo")',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                if (response.mensaje == "") {
                    if ($('#Empleado').val() == "") {
                        $('#NumeroSerial').val("");
                        $('#Descripcion').val("");
                        $('#PersonaCargo').val("");
                    }
                    $('#confirmacionAlmacenamientoPrestamoActivo').modal('show');
                } else {
                    bootstrap_alert.warning(response.mensaje);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                bootstrap_alert.warning("Error al almacenar el prestamo activo.");
            }
        });
    });

    bootstrap_alert = function () { };
    bootstrap_alert.warning = function (message) {
        $('#alert_placeholder').
            html('<div class="alert alert-danger">' +
            '<a class="close" data-dismiss="alert">×</a><span>'
            + message + '</span></div>');
    };

</script>


